:root {
    --orange-colour: hsl(26, 100%, 55%);
    --pale-orange-colour: hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white-colour: hsl(0, 0%, 100%);
    --black-colour: hsl(0, 0%, 0%);
    --lightbox-bg: rgba(0,0,0,.75);
    --transition: all 250ms ease-in-out;
}

html {
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 10px;
}

ul {
    display: inline-block;
}

li {
    color: var(--dark-grayish-blue);
    font-size: 12px;
    display: inline-block;
    /* padding-right: 20px; */
    letter-spacing: 0.3px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px var(--grayish-blue) solid;
    padding: 10px 0;
}

img {
    width: 100%;
}

.attribution {
    font-size: 12px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-main li{
    position: relative;
    cursor: pointer;
    margin: 0 10px;
}

.nav-main li:hover {
    color: var(--dark-blue);
}

.nav-main li:before {
    content: '';
    position: absolute;
    bottom: -38px;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: var(--orange-colour);
}

.nav-main li:hover:before {
    width: 100%;
}

.ul-right {
    display: flex;
    align-items: center;
}

.cart {
    width:  16px;
    padding-right: 30px;
    cursor: pointer;
}

.avatar {
    width: 35px;
    height: 35px;
    padding: 0;
    cursor: pointer;
}

.avatar:before {
    content: '';
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: none;
}

.avatar:hover:before{
    border: var(--orange-colour) solid 1.5px;
}

main {
    display: flex;
    padding: 70px 50px;
    justify-content: space-around;
}

.photo.main {
    max-width:350px;
    cursor: zoom-in;
}

.photo img{
    border-radius: 8px;
}

.thumbnails {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    max-width: 350px;
}

.mini {
    width: 20%;
    cursor: pointer;
    line-height: 0;
    box-sizing: border-box;
}

.mini:hover {
    opacity: .5;
}

.mini.active img{
    opacity: .5;
}

.mini.active {
    border: 2px solid var(--orange-colour);
    border-radius: 10px;
}

.mini.active:hover {
    opacity: 1;
}

.product-info {
    padding-top: 30px;
    width: 40%;
}

h3 {
    color: var(--orange-colour);
    font-size: 12px;
    letter-spacing: 1.5px;
}

h1 {
    color: var(--dark-blue);
    letter-spacing: 0.8px;
}

p {
    color: var(--dark-grayish-blue);
    letter-spacing: 0.3px;
    font-size: 12px;
    line-height: 1.7;
}

.price {
    display: flex;
    align-items: center;
    padding-bottom: 7px;
}

.newprice {
    font-size: 1.5rem;
    margin: 0;
}

.discount {
    background-color: var(--pale-orange-colour);
    border-radius: 5px;
    color: var(--orange-colour);
    font-weight: bold;
    padding: 1px 7px;
    margin-left: 15px;
}

.oldprice {
    text-decoration: line-through;
    color: var(--grayish-blue);
    letter-spacing: 0.4px;
}

.button-section {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}

.quantity-button {
    display: flex;
    background-color: var(--light-grayish-blue);
    border-radius: 5px;
    width: 35%;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    padding: 10px 0;
}

.quantity {
    color: var(--orange-colour);
    font-size: 20px;
    cursor: pointer;
}

.quantity:hover {
    opacity: .5;
}

.num {
    color: var(--dark-blue);
    font-size: 14px;
}

button {
    border: 0;
    border-radius: 10px;
    padding: 10px 0;
}

.button-add {
    background-color: var(--orange-colour);
    color: var(--white-colour);
    width: 60%;
    box-shadow: 0px 20px 10px var(--pale-orange-colour);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.3px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.button-add:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.7s;
}

.cart-white-filter {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3304%) hue-rotate(51deg) brightness(111%) contrast(100%);
    width: 14px;
    margin-right: 15px;
}

/* Lightbox styling */
.lightbox-container {
    position: fixed;
    top: 0;
    background-color: var(--lightbox-bg);
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
}

.lightbox-container.active {
    opacity: 1;
    pointer-events: all;
}

.lightbox-wrapper {
    display: grid;
    max-width: 400px;
}

.details {
    width: 18px;
    padding: 20px 0;
    place-self: end;
    cursor: pointer;
}

.close-filter {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3304%) hue-rotate(51deg) brightness(111%) contrast(100%);
}

.close-filter:hover{
    filter: invert(48%) sepia(83%) saturate(1000%) hue-rotate(348deg) brightness(103%) contrast(101%);
}

.lightbox-image-wrapper {
    display: grid;
    place-items: center;
    position: relative;
}

.lightbox-btn {
    background-color: var(--white-colour);
    display: grid;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    padding: 15px 18px;
}

.lightbox-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.left{
    left: -25px;
}

.right {
    right: -25px;
}

.arrow {
    width: 10px;
    height: 15px;
}

.lightbox-btn:hover .arrow {
    filter: invert(48%) sepia(83%) saturate(1000%) hue-rotate(348deg) brightness(103%) contrast(101%);
}

.lightbox-thumbnail-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding: 30px;
}

.lightbox-thumbnail-img {
    border-radius: 8px;
    cursor: pointer; 
}

.lightbox-thumbnail-img:hover {
    opacity: .5;
}

.thumbnail-container {
    background: white;
    border-radius: 10px;
    height: 95%;
    box-sizing: border-box;
}

.thumbnail-container.active {
    border: solid 2px var(--orange-colour);
}

.thumbnail-container.active img {
    opacity: .3;
}

/* Cart styling */

.cart-container {
    position: absolute;
    right: 130px;
    top: 70px;
    width: 300px;
    height: 200px;
    z-index: 10000;
    background-color: var(--white-colour);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    opacity: 0;
}

.cart-container.active {
    opacity: 1;
}

.shopping-cart-header {
    border-bottom: 0.5px var(--grayish-blue) solid;
    padding: 15px;
}

.cart-header {
    color: var(--dark-blue);
    font-weight: bold;
    margin: 0;
}

.shopping-cart-main {
    padding: 20px;
}

.cart-empty {
    text-align: center;
    line-height: 90px;
    font-weight: bold;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}

.cart-item.inactive {
    display: none;
}

.cartImg {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.delete {
    width: 12px;
    height: 15px;
    cursor: pointer;
}

.cart-item-info p {
    margin: 0;
}

.total {
    color: var(--dark-blue);
    font-weight: bold;
}

.button-add.checkout {
    width: 100%;
    box-shadow: none;
    padding: 15px 0;
}